@charset "utf-8";

/* =======================================

	Structure CSS

========================================== */

body {
	background: #FFF url();
	color: #333;
}

#wrapper {
 	margin: 0 auto;
	width: 740px;
	background-color: white;
/*  	padding: 0 0px 0 0px 0; */
/* 	border: 1px solid black; */
/* 	margin: 0 30px 0 30px 0; */
/* margin-left: 20px; */
margin-top: 10px;
margin-bottom: 10px;
padding-left: 30px;
padding-right: 30px;
}

#header {
}

#contents {
}

#footer {
	clear: both;
}

ul#globalnavi {
}
